<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf=8">
        <meta name="viewport" content="width=device-width, initial-scale=1,shrink-to-fit=no">
        <link rel="stylesheet" href="../assets/css/style.css"/>
        <title>Chaos Hub</title>
    </head>
    <body>
        <div class="container">
            <div class="panel active" id="one">
              <h3>Home Automation</h3>
            </div>
            <div class="panel" id="two">
              <h3>Calendar</h3>
            </div>
            <div class="panel" id="three">
              <h3>ToDo</h3>
            </div>
            <div class="panel" id="four">
              <h3>Kindle</h3>
            </div>
            <div class="panel" id="five">
              <h3>Audible</h3>
            </div>
          </div>
      
          <script src="../assets/js/script.js"></script>
          <script src="../index.js"></script>
          <script src="../assets/js/main.js"></script>
          <script src="../assets/js/androidjs.js"></script>

        </body>
</html>